[Unit]
Description=n8n prod
After=network.target

[Service]
Type=simple
User=ai
Environment=N8N_USER_FOLDER=/home/ai/n8n-prod-data
Environment=N8N_PORT=8030
Environment=N8N_HOST=n8n.bitlab.rs
Environment=N8N_PROTOCOL=https
Environment=WEBHOOK_URL=https://n8n.bitlab.rs/
Environment=GENERIC_TIMEZONE=Europe/Belgrade
Environment=N8N_RUNNERS_BROKER_PORT=5680
ExecStart=/usr/bin/n8n start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
